<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id = "preProcessorToLower"
          class="org.example.classes.PreProcessorToLowerImpl">
    </bean>
    <bean id="preProcessorToUpper"
          class="org.example.classes.PreProcessorToUpperImpl">
    </bean>

    <bean id="rendererErrToLower"
          class="org.example.classes.RendererErrImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="rendererErrToUpper"
          class="org.example.classes.RendererErrImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>
    <bean id="rendererStandardToLower"
          class="org.example.classes.RendererStandardImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="rendererStandardToUpper"
          class="org.example.classes.RendererStandardImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <bean id="printerWithPrefix"
          class="org.example.classes.PrinterWithPrefixImpl">
        <constructor-arg ref="rendererErrToUpper"/>
        <property name="prefix" value="Prefix"/>
    </bean>

    <bean id="printerWithDateTime"
          class="org.example.classes.PrinterWithDateTimeImpl">
        <constructor-arg ref="rendererErrToUpper"/>
    </bean>


</beans>